*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Bungee', sans-serif; font-family: 'Pacifico', cursive; font-family: 'Vast Shadow', serif;
    font-weight: lighter;
    text-decoration: none;
}

body{
    width: 100%;
    background-image: url(vintage-BG.png);
    background-size: cover;
} 

#header__container{
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-right: 300px ;
    font-size: large;

}



#navBar__menu{
    display: flex;
    flex-direction: row;
    color: #ffffff;
    text-indent: 40px;
    width: 100%;
    margin-right: 100px;
    
}

#navBar__menu :hover{
    border-bottom: 2px white solid;
    font-size: 20px;
    cursor: pointer;
    
}

#top__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:190px;
    width: 100%;
    height: 80vh;
    color: #ffffff;
    opacity: 0.8;
    border: 10px solid red;
    
}

#left__top__container{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 10px solid red;
    
}

/* #left__top__container > img{
    width: 40%; 
    opacity: 0;
} */

#right__top__container{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 10px solid red;
}



#left__container__Button {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:23px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
    margin-left: 40px;
}
#left__container__Button:hover {
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color:#e9e9e9;
}
#left__container__Button:active {
	position:relative;
	top:1px;
}

#about__container{
    height: 80vh;
    display: flex;
    border: 10px solid green;
}

#about__left__container{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 10px solid orange;
}

#about__left__container > h1, p{
    
    text-align:center;
    text-indent: 2px;
    color: #ffffff;
    opacity: 0.8;
}

#about__left__container > p{
    margin-top: 50px;
    
}


#about__right__container{
    height: 100%;
    width: 50%;
    border: 10px solid pink;

}

#about__right__container > img{
    /* margin-bottom: 5px; */
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-15deg);
}








